<div class ="results-block mt-2">
  <%= render 'layouts/messages'%>
</div>

<% if @friend%>
    <div class='card card-header mt-4 results-block'>
        <strong>Email: </strong><%=@friend%>
        <strong>Name: </strong><%=@friend%>
        <strong>Price: </strong><%=@friend%>
        
          <%# <%=link_to 'Follow' , user_stocks_path(user: current_user, ticker:@stock.ticker), class:"btn btn-xs btn-success", method: :post%> 
        
    </div>
<%end%>